@use "../../styles/abstracts" as *;

.container {
  background-color: $grey-4;
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interface_header {
  // border: 1px solid pink;

  display: flex;
  justify-content: center;

  h1 {
    color: $color-primary;

    font-size: 1.5rem;
    font-weight: bold;
  }
}

.interface_body {
  // border: 1px solid pink;

  background-color: $grey-3;
  border-radius: 4px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interface_body_summary {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 15px;

  h2 {
    color: $grey-0;

    font-size: 1.2rem;
    font-weight: bold;
  }
}

.interface_body_form {
  div {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 20px;
    label {
      color: $grey-0;

      font-size: 0.8rem;
      font-weight: normal;
    }
  }
  button {
    color: #ffffff;

    font-size: 0.95rem;
    font-weight: normal;

    background-color: $color-primary-negative;
    border: 1px solid $color-primary-negative;
    border-radius: 4px;

    width: 100%;
    padding: 10px 0;

    // cursor: pointer;
  }
}

.interface_footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    color: $grey-1;

    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
  }

  button {
    background-color: transparent;
    color: $grey-0;

    text-decoration: underline;

    cursor: pointer;
  }
}

.interface_demo {
  button {
    color: $grey-0;

    font-size: 0.95rem;
    font-weight: normal;

    background-color: $grey-1;
    border: 1px solid $grey-1;
    border-radius: 4px;

    width: 100%;
    padding: 10px 0;

    cursor: pointer;
  }
  button:hover {
    background-color: $grey-2;
    border: 1px solid $grey-2;
  }
}
